.backpack__slot, .equipment__slot {
  background-color: #2b2625;
  width: 32px;
  height: 32px;
  position: relative;
  margin: 2px;
}

.backpack__slot span {
  position: absolute;
  right: 3px;
  bottom: 1px;
  text-align: right;
  font-weight: bold;
  color: #eaeaea;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 10px;
}