.store {
  margin: 5px;
  background-image: url("../../images/tiles/grass.gif");
  padding: 0 0 5px 0;
}

.store__seller {
  align-items: center;
}

.store__seller p, .character p {
  color: #FFF;
  text-align: center;
  margin-bottom: 5px;
}

/* to centralize the img with the seller's name */
.store__character, .character img {
  margin-top: -60px;
  margin-right: 60px;
}

.store__chest {
  margin: 10px 0 0 40px;
  width: 57px;
  height: 52px;
}

.store__items {
  padding: 4px;
  border-radius: 4px;
  overflow: scroll;
  max-height: 140px;
}

.store__item {
  margin-top: 4px;
  border-bottom: 1px solid #2f3435;
  padding-bottom: 6px;
}

.store__item:first-child {
  margin-top: -2px;
}

.store__button {
  background: #2196F3;
  border: none;
  color: #FFF;
}