.monsterName {
  color: green;
  text-align: center;
  margin-bottom: 0;
  font-size: 14px;
}

.skillsBar {
  border: 1px solid #000;
  margin-top: 2px;
}

.skillsBLevel {
  transition: width 1s ease-in-out;
  background-color: red;
  height: 2px;
}
