.skillsLine {
  justify-content: space-between;
}

.skillsLine p {
  margin: 0;
  font-weight: bold;
  color: #adaead;
}

.skillsBar {
  border: 1px solid #000;
  margin-top: 2px;
}

.skillsBarLevel {
  transition: width 1s ease-in-out;
  background-color: red;
  height: 2px;
}
