.item {
  border: 2px solid #707070;
  border-right: none;
  border-bottom: none;

  margin: 2px;
  font-size: 12px;
  color: #828586;
}

.item__intern__border {
  border: 2px solid #303435;
}

.item__title {
  font-weight: bold;
  background: #303435;
  border-bottom: 1px solid #303435;
}

.item__title span {
  margin-left: 2px;
  margin-top: -1px;
}

.item__content {
  background: #494642;
  padding: 3px 6px;
}
