.background {
  background-image: url("./images/background.gif");
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.column {
  flex-direction: column;
  justify-content: space-between;
}

.center {
  justify-content: center;
  align-items: center;
}

.start {
  justify-content: flex-start;
}

.pointer {
  cursor: pointer;
}

.text-shadow {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.floor {
  background-image: url("./images/tiles/dirt.gif");
  padding: 100px 0 100px 100px;
  width: 80vw;
  height: calc(100vh - 200px);
}

.monster__hp {
  color: #FFF;
}

.sidebar {
  width: 20vw;
  height: 100vh;
}

.minimap {
  width: 20vw;
}

/* Battle */
.battle {
  padding: 1px 0px 4px 0px;
}

.battle span {
  color: #adaead;
  font-weight: bold;
  user-select: none;
}

.battle__monster {
  width: 100%;
}